@import 'tailwindcss';

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.custom-neutral {
    background-color: #F2F2F0;
}

.custom-filter-color {
    background-color: #F5F5F3;
}

.custom-gray {
    background-color: #1b1c1d;
}

.header-button {
    background-color: #1b1c1d;
    transition: background-color 0.2s ease;
}

.header-button:hover {
    background-color: #2c2d2e;
}

input:-webkit-autofill {
    box-shadow: 0 0 0px 1000px white inset;
    -webkit-text-fill-color: #1f2937;
}
